*
{
    padding: 0px;
    margin: 0px;
}

header
{
    width: 1340px;
}

.container-grid
{
  display: grid;
  grid-template-columns: 100px auto 162px 162px 90px ;
  background-color: white;
  width:1340px;
}


.logo
{   
    background-color: white; 
    width: 100px;
    height: 40px;
    margin-top:52px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
} 

.vide
{
    background-color: white; width: 806px
} 

.menu1
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 50px; 
}

.menu2
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 50px;
}

.menu3
{
    color: royalblue;
    font-weight: bold;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 50px;
}

body
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 1340px;
}

.titrep
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1340px;
    margin-top: 40px;
}

form
{
    width:1340px;
}

form div
{
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-flex;
}

form article
{
    display: inline-flex;
    border: 3px lightblue;
    margin-left: 0px;
    font-weight: bold;
    font-size: medium;
}

.filtres
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 930px;
}

.filtresa
{
    width:196px;
    height: 50px;
    border: 3px solid lightgrey;
    border-radius: 30px;
    align-items: center;
}

form article svg
{
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 12px;
    background-color: #deebff;
    border-radius: 50%;  
}

form div svg
{
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 12px;
    background-color: lightgrey;
    border-radius: 18px 0px 0px 18px;
}

path
{
    color: #0065fc;
}

#maRecherche
{
    width: 238px;
    height: 50px;
}

button
{
    width: 134px;
    height: 50px;
    border-radius: 0px 18px 18px 0px;
    background-color: #0065fc;
    font-weight: bold;
    font-size: medium;
}

.accroche
{
    display:inline-flex;
    align-items: center;
    margin-top: 36px;
}

.accroche svg
{
    width: 5px;
    height: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 9px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid gray;
}

.accroche p
{
    display: flex;
    align-items: center;
    margin-left: 14px;
}

h2
{
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 46px;
}

h3
{
    font-weight: bold;
    font-size: medium;
}

p
{
    font-size:medium
}

.afficher
{
    font-weight: bold;
}

.footergras
{
    font-weight: bold;
}

ul 
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.hébergements
{
    background-color: #F2F2F2;
    width: 800px;
    height: 628px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 0px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 22px;
}
.container-art1
{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.container-art2
{
    width: 344px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-left: 36px;
    padding-right: 40px;
}
.populaires
{
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #F2F2F2;
    width: 420px;
    height: 628px;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 66px;
    border-radius: 22px;
}

article
{
    background-color: white;  
}

.héberimg 
{
    width: 238px;
    height: 114px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    border-radius: 20px 20px 0px 0px;
}

.hébergart
{
    width: 248px;
    height: 202px;
    font-size: 12px;
    margin-bottom: 30px;
    background-color: white; 
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.hébergart-description
{
    width: 210px;
    height: 60px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.hébergart2
{
    width: 344px;
    height: 146px;
    font-size: 12px;
    margin-bottom: 34px;
    background-color: white; 
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    display: flex;
}

.héberimg2 
{
    width: 126px;
    height: 136px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-radius: 30px 0px 0px 30px;
}
.hébergart-description2
{
    width: 170px;
    height: 112px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-top: 20px;
}
.sectionAB
{
    display: inline-flex;
    width:1340px;
}
.activités
{
    width: 1340px;
    height: 490px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.container-act1
{
    width: 650px;
    height: 448px;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
.container-act2
{
    width: 650px;
    height: 448px;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}
.h2divtest
{
    width:1340px;
    display:flex;
}
.activart1
{
    width: 304px;
    height: 448px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}
.activart2a
{
    width: 304px;
    height: 198px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    margin-left: 43px;
    margin-bottom: 50px;
}

.activart2b
{
    width: 304px;
    height: 198px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    margin-left: 43px;
}
.activmg1
{
    width: 304px;
    height: 390px;
    border-radius: 30px 30px 0px 0px;
}
.activmg2
{
    width: 304px;
    height: 142px;
    border-radius: 30px 30px 0px 0px;
}

.dsearch
{
    width: 1340px;
}