*
{
    padding: 0px;
    margin: 0px;
}

#bloc_page
{
    width: 1340px;
    margin: auto;
}

header
{
    width: 1340px;
}

.container-grid
{
  display: grid;
  grid-template-columns: 100px auto 162px 162px 90px ;
  background-color: white;
  width:1340px;
}

.logo
{   
    background-color: white; 
    width: 100px;
    height: 40px;
    margin-top:52px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
} 

.vide
{
    background-color: white; width: 806px
} 

.menu1
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 50px;
    height: 12px; 
    text-decoration: none;
}

.menu1:link
{
    color: rgb(0, 0, 0);
}

.menu1:visited 
{
    color: #0065FC;
}

.menu1:active
{
    color: #0065FC;
}

.menu1:focus
{
    color: #0065FC;
}

.menu2
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 50px;
    height: 12px;
    text-decoration: none;
}

.menu2:hover
{
    color: #0065FC;
}
.menu3
{
    color: royalblue;
    font-weight: bold;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 50px;
    height: 12px;
    text-decoration: none;
}

.survol1
{
    width:164px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.survol1:hover
{
    border-top:3px inset #0065fcA3;
    font-style: #0065FC;
}

.survol2
{
    width:164px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.survol2:hover
{
    border-top:3px inset #0065fcA3;
}

body
{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: 1340px;
}

.titrep
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1340px;
    margin-top: 40px;
}

form
{
    width:1340px;
}

form div
{
    margin-top: 20px;
    margin-bottom: 30px;
}

form article
{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
    font-weight: bold;
    font-size: medium;
}

.filtres
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 930px;
}

.filtresaeco
{
    width: 190px;
    height: 50px;
    border: 3px solid #f1f1f1;
    border-radius: 30px;
    align-items: center;
}

.filtresafami
{
    width: 150px;
    height: 50px;
    border: 3px solid #F1F1F1;
    border-radius: 30px;
    align-items: center;
}

.filtresaroma
{
    width:182px;
    height: 50px;
    border: 3px solid #F1F1F1;
    border-radius: 30px;
    align-items: center;
}

.filtresaani
{
    width:238px;
    height: 50px;
    border: 3px solid #F1F1F1;
    border-radius: 30px;
    align-items: center;
    /*! padding-bottom: 13px; */
    margin-bottom: 13px;
}

.cercles
{
    background-color: #deebff;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    align-items: center;
    margin-top: 30px;
}

.cercles2
{
    height: 22px;
    margin-left: 12px;
}

.position
{
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 12px;
    background-color: lightgrey;
    border-radius: 18px 0px 0px 18px;
}

form article svg
{
    height: 20px;
}

.pathblue
{
    color: #0065fc;
    margin-left: 13px;
}

#maRecherche
{
    width: 238px;
    height: 50px;
    border: 2px solid #F2F2F2;
}

button1
{
    width: 134px;
    height: 50px;
    border-radius: 0px 18px 18px 0px;
    background-color: #0065fc;
    font-weight: bold;
    font-size: medium;
    border:none;
    color: white;
}

.accroche
{
    display:inline-flex;
    align-items: center;
    margin-top: 36px;
}

.accroche svg
{
    width: 5px;
    height: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 9px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    color: #0065fc;
}

.accroche p
{
    display: flex;
    /*! align-items: center; */
    margin-left: 14px;
}

h2
{
    font-weight: bold;
    margin-bottom: 24px;
}

.h2hautsa
{
    /*! margin-top: 46px; */
}

.h2hautsb
{
   height:24px;
}

h3
{
    font-weight: bold;
    font-size: medium;
}

p
{
    font-size:medium
}

.afficher
{
    font-weight: bold;
}

.footergras
{
    font-weight: bold;
}

ul 
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.hebergements
{
    background-color: #F2F2F2;
    width: 800px;
    height: 628px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 0px;
    /*! padding-left: 40px; */
    padding-right: 40px;
    border-radius: 22px;
}
.container-art1
{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.container-art2
{
    /*! width: 344px; */
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    /*! padding-left: 36px; */
    /*! padding-right: 40px; */
}

.populaires
{
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #F2F2F2;
    width: 420px;
    height: 628px;
    margin-top: 40px;
    margin-right: 0px;
    /*! border-radius: 22px; */
}

.populaires h3
{
    height:11px;
}

.populaires P
{
    font-size: 14px;
}

article
{
    background-color: white;  
}

.heberimg 
{
    width: 238px;
    height: 114px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    border-radius: 20px 20px 0px 0px;
}

.hebergart
{
    width: 248px;
    height: 202px;
    font-size: 12px;
    margin-bottom: 30px;
    background-color: white; 
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}

.hebergart-description
{
    width: 210px;
    height: 60px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.hebergart2
{
    width: 344px;
    height: 146px;
    font-size: 12px;
    margin-bottom: 34px;
    background-color: white; 
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    display: flex;
}

.heberimg2 
{
    width: 126px;
    height: 136px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-radius: 30px 0px 0px 30px;
}
.hebergart-description2
{
    width: 134px;
    height: 112px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.hebergart-star
{
    width:210px;
    height:14px;
}

.hebergart-star2
{
    height: 12px;
    font-size:12px;
}

.hebergart-star
{
    font-weight: 900;
    font-size: 13px;
}

.hebergart-star2
{
    font-size: 12px;
}

.sectionAB
{
    display: inline-flex;
    width:1340px;
}

.activites
{
    width: 1340px;
    height: 490px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    /*! margin-bottom: 64px; */
    margin-top: 46px;
}
.container-act1
{
    width: 650px;
    height: 448px;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    min-width: 333px;
}
.container-act2
{
    /*! width: 650px; */
    height: 448px;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.activites h3
{
    margin-left: 24px;
    margin-bottom: 22px;
    margin-top:22px;
}
.h2divtest
{
    width:1340px;
    display:flex;
}
.activart1
{
    width: 304px;
    height: 448px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
}
.activart2a
{
    width: 304px;
    height: 198px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    /*! margin-left: 43px; */
    margin-bottom: 50px;
}

.activart2b
{
    width: 304px;
    height: 198px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px lightgrey;
    /*! margin-left: 43px; */
}
.activmg1
{
    width: 304px;
    height: 390px;
    border-radius: 30px 30px 0px 0px;
}
.activmg2
{
    width: 304px;
    height: 142px;
    border-radius: 30px 30px 0px 0px;
}

.populairetitle
{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: auto;
    /*! margin-top: 46px; */
    /*! margin-left: 20px; */
    /*! margin-right: 20px; */
}

.chart
{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 24px;
    width: 24px;
    padding-top: 3px;
    padding-left: 110px;
}

.dsearch
{
    width: 1340px;
}

footer
{
    /*! width: 1440px; */
    /*! display: grid; */
    grid-template-columns: 240px 215px 240px 215px 240px;
    /*! margin-top: 120px; */
    background-color: #F2F2F2
}

.footnav1
{
    height: 118px;
    margin-top: 54px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-bottom: 56px;
}

.footnav2
{

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /*! margin-top: 54px; */
}

.footnav3
{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 54px;
}

.footli1
{
    display:grid;
    height: 118px;
}

.footli2
{
    display:grid;
    height: 84px;
}

.footli3
{
    display:grid;
    height: 84px;
}

@media screen and (min-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }

    .container-grid
    {
      display: grid;
      grid-template-columns: auto auto;
      background-color: white;
    }

    .button_responsive
    {
    display:none;
    }
}

@media screen and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }

    .container-grid
    {
      display: grid;
      grid-template-columns: auto auto;
      background-color: white;
    }
}

@media all and (max-device-width: 900px)
{
    #bloc_page
    {
        display:flex;
        flex-direction: column;
        width: auto;
        height: 4550px;
    }

    body 
    {
        width:auto;
        margin:0px;
    }

    header 
    {
       width: auto;
    }

    .container-grid
    {
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 62px 65px;
        background-color: white;
    }
    
    .logo
    {
        height: 42px;
        margin-left: 21px;
        background-color: white;
        margin-top: 26px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .survol1 
    {
       grid-column-start: 1;
       grid-column-end: 1;
       grid-row-start: 2;
       grid-row-end: 2;
       border-bottom: 3px inset #0065fcA3;
       width:100%;
    }

    .menu1 
    {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-self: center;
        margin-top: 40px;
        height: 12px;
        text-decoration: none;
    }

    .survol2 
    {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        border-bottom: 3px inset #f2f2f2;
        margin-top: 40px;
        width:100%;
    }

    .menu2
    {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-self: center;
        margin-top: 40px;
        text-decoration: none;
    }

    .menu3 {
        color: royalblue;
        font-weight: bold;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self:self-end;
        margin-top: 42px;
        margin-right: 21px;
        height: 12px;
        text-decoration: none;
    }

    .titrep 
    {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 36px;
        margin-left: 20px;
        margin-right: 20px;
        width:auto;
        min-height: 80px;
        /*! justify-items: ; */
    }

    form 
    {
        width: 100%;
        min-height: 298px;
    }

    form div 
    {
        /*! margin-top: 20px; */
        /*! margin-bottom: 30px; */
        display: inline-flex;
        width: 100%;
        height: 52px;
        margin-left: 21px;
    }

    #maRecherche {
        height: 50px;
        border: 2px solid #F2F2F2;
        justify-content: stretch;
    }

    .button1 
    {
        display:none;
    }

    .button_responsive
    {
        min-width: 50px;
        min-height: 50px;
        border-radius: 18px 18px 18px 18px;
        background-color: #0065fc;
        font-weight: bold;
        font-size: medium;
        border: none;
        color: white;
    }

    .fa, .fas {
        font-weight: 900;
        height: 19px;
        color: white;
    }
    
    .filtres
    {
        /*! min-height: 208px; */
        margin-left: 20px;
        width: auto; 
        display: block;
        height: 206px;
    }

    .filtres p 
    {
        margin-bottom: 20px;
    }

    .filtresaeco
    {
        width: 50%;
        margin-right: 12px;
        margin-bottom: 13px;
        height: 47px;
        display: inline-flex;
    }

    .filtresaeco p 
    {
        margin-top: 20px;
        margin-left: 13px;
    }

    .cercles
    {
        margin-left: 0px;
    }

    .filtresafami
    {
        width: 40%;
        height: 47px;
    }

    .filtresafami p 
    {
        margin-top: 20px;
        margin-left: 13px;
    }

    }
    .filtresaroma 
    {
        width: 47%;
        height: 47px;
        margin-bottom: 13px;
    }

    .filtresaroma p
    {
        margin-top: 20px;
        margin-left: 13px;
    }

    .filtresaani 
    {
        width: 60%;
        height: 47px;
    }

    .filtresaani p
    {
        margin-top: 20px;
        margin-left: 13px;
    }

    .accroche 
    {
        display: inline-flex;
        align-items: center;
        /*! margin-top: 32px; */
    }

    .accroche svg
    {
        display: inline-flex;
        align-items: center;
        width: 5px;
        height: 12px;
        margin-left: 21px;
    }

    .accroche p {
        /* display: flex; */
        /* align-items: center; */
        /*! margin-left: 14px; */
        height: 32px;
    }

    .sectionAB 
    {
        /* display: inline-flex; */
        /* width: 1340px; */
        display: flex;
        /* flex-direction: column-reverse; */
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* height: 350px; */
    }

    .hebergements 
    {
        background-color: #FFF;
        width: 100%;
        height: 1414px;
        /*! margin-top: 40px; */
        /* margin-right: 40px; */
        /* margin-left: 21px; */
        /* padding-left: 40px; */
        /* padding-right: 40px; */
        /* border-radius: 22px; */
        /*! flex-direction: column; */
        display: flex;
        flex-direction: column;
    }

   .sectionAB > .hebergements {
        flex:1;
        order: 2;
      }

    .h2hautsa 
    {
        /*! margin-top: 40px; */
        margin-left: 21px;
    }

    .container-art1 
    {
        height: 1254px;
        margin-left: 21px;
        margin-right: 21px;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .hebergart {
        width:100%;
        height: 200px;
        font-size: 12px;
        margin-bottom: 30px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 0px lightgrey;
        /* height: 202px; */
    }

    .populaires {
        justify-content: space-between;
        flex-flow: row wrap;
        background-color: #F2F2F2;
        /* width: 420px; */
        height: 583px;
        margin-top: 40px;
        margin-right: 0px;
        /* border-radius: 22px; */
        width: 100%;
        /*! margin-bottom: 24px; */
        padding-bottom: 24px;
    }

    .sectionAB > .populaires {
        order: 1;
      }

    .populairetitle {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /* width: 344px; */
        margin-top: 42px;
        /* margin-left: 21px; */
        /* margin-right: 21px; */
    }

    .h2hautsb 
    {
        font-weight: bold;
        margin-bottom: 24px;
        /* padding-right: 10px; */
        margin-left: 20px;
    }

    .chart 
    {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        height: 24px;
        /* width: 24px; */
        padding-top: 3px;
        /* padding-left: 110px; */
        /* padding-right: 21px; */
        /*! justify-self: flex-end; */
        /*! justify-items: flex-end; */
        padding-left: 90px;
        /*! margin-left: 20px; */
        /*! margin-right: 20px; */
    }

    .container-art2 
    {
        width: auto;
        height: 500px;
        /* display: flex; */
        /* justify-content: space-between; */
        flex-flow: row wrap;
        /* padding-left: 36px; */
        /* padding-right: 40px; */
        margin-left: 20px;
        margin-right: 20px;
        /*! margin-bottom: 34px; */
    }

    .hebergart2 {
        width: 100%;
        height: 146px;
        font-size: 12px;
        margin-bottom: 34px;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 0px 5px 0px lightgrey;
        display: flex;
        /* height: 202px; */
        font-size: 12px;
        margin-bottom: 12px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 0px lightgrey;
    }

    .activites {
        /* width: 1340px; */
        height: 1306px;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
        /* margin-bottom: 64px; */
        /* margin-top: 46px; */
        width: 100%;
    }

  .sectionAB > .activites {
        order: 3;
      }

    .h2divtest {
        /* width: 1340px; */
        display: flex;
        width: 100%;
        height: 18px;
    }

    h2 {
        font-weight: bold;
        /* margin-bottom: 26px; */
        padding-left: px;
        /* padding-right: 10px; */
        margin-left: 21px;
        height: 18px;
    }

    .container-act1 {
        /*! width: 90%; */
        height: 629px;
        padding: 0px;
        display: flex;
        /* flex-flow: wrap; */
        flex-direction: column;
        margin-bottom: 26px;
        margin-right: 21px;
        margin-left: 21px;
        margin-right: 21px;
    }

    .activart1 {
        width: 100%;
        height: 192px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px 0px lightgrey;
        margin-bottom: 26px;
    }

    .activmg1 {
        width: 100%;
        height: 137px;
        border-radius: 30px 30px 0px 0px;
    }

    .activart2a {
        width: 100%;
        height: 192px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px 0px lightgrey;
        /* margin-left: 43px; */
        /* margin-bottom: 50px; */
        margin-bottom: 26px;
    }

    .activmg2 {
        width: 100%;
        border-radius: 30px 30px 0px 0px;
        height: 137px;
        border-radius: 30px 30px 0px 0px;
    }

    .activites h3 {
        /* margin-left: 24px; */
        /* margin-bottom: 22px; */
        /* margin-top: 22px; */
    }

    .activart2b {
        width: 100%;
        height: 192px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px 0px lightgrey;
        /* margin-left: 43px; */
    }

    .container-act2 {
        /* width: 650px; */
        /* height: 448px; */
        padding: 0px;
        display: flex;
        /* flex-flow: wrap; */
        flex-direction: column;
        width: 90%;
        height: 629px;
        padding: 0px;
        display: flex;
        /* flex-flow: wrap; */
        flex-direction: column;
        min-width: 333px;
        margin-left: 21px;
        margin-right: 21px;
    }

    footer {
        /* width: 1440px; */
        /* display: grid; */
        grid-template-columns: 240px 215px 240px 215px 240px;
        /*! margin-top: 120px; */
        background-color: #F2F2F2;
        height: 497px;
        /* margin-left: 21px; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
 
     .sectionAB > footer {
        order: 4;
      }

    .footnav1 {
        height: 118px;
        /*! margin-top: 48px; */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 50px;
        margin-left: 21px;
    }

    .footnav2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        /* margin-top: 54px; */
        /*! margin-bottom: 59px; */
        margin-left: 21px;
    }

    .footnav3 {
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        /* margin-top: 54px; */
        margin-left: 21px;
    }

}